pipeline/pp_poc_zip_to_unzip.json
{
	"name": "pp_poc_zip_to_unzip",
	"properties": {
		"activities": [
			{
				"name": "Unzip_files",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_poc_universal",
						"type": "DatasetReference",
						"parameters": {
							"ds_container": {
								"value": "@pipeline().parameters.pp_container",
								"type": "Expression"
							},
							"ds_directory": {
								"value": "@pipeline().parameters.pp_directory_stg",
								"type": "Expression"
							},
							"ds_filename": {
								"value": "@pipeline().parameters.pp_filename_stg",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_poc_universal",
						"type": "DatasetReference",
						"parameters": {
							"ds_container": {
								"value": "@pipeline().parameters.pp_container",
								"type": "Expression"
							},
							"ds_directory": {
								"value": "@pipeline().parameters.pp_directory_raw",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "POC Notebook",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/azsanket@outlook.com/POC Notebook 2023-08-10 17:39:36",
					"baseParameters": {
						"path": {
							"value": "@activity('Get Metadata1').output.childItems",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Unzip_files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "poc_getmetadata",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems",
						"exists",
						"itemName"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data2",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_poc_universal",
									"type": "DatasetReference",
									"parameters": {
										"ds_container": {
											"value": "@pipeline().parameters.pp_container",
											"type": "Expression"
										},
										"ds_directory": {
											"value": "@pipeline().parameters.pp_directory_raw",
											"type": "Expression"
										},
										"ds_filename": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_poc_universal",
									"type": "DatasetReference",
									"parameters": {
										"ds_container": {
											"value": "@pipeline().parameters.pp_container",
											"type": "Expression"
										},
										"ds_directory": {
											"value": "@pipeline().parameters.pp_directory_silver",
											"type": "Expression"
										},
										"ds_filename": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"pp_container": {
				"type": "string"
			},
			"pp_directory_stg": {
				"type": "string"
			},
			"pp_directory_raw": {
				"type": "string"
			},
			"pp_directory_silver": {
				"type": "string"
			},
			"pp_filename_stg": {
				"type": "string"
			}
		},
		"annotations": []
	}
}